body {
    font-family: Arial;
    background-color: #000000;
    color: #000000;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
}

h2 {
    color: blue;
}

h3 {
    color: rgb(255, 0, 0);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    text-shadow: 10px;
}